<section id="about" class="text-white bg-primary mb-0">
  <div class="container">
    <h2 class="text-uppercase text-center text-white"> About </h2>
    <hr class="star-light mb-5" />
    <div class="row">
      <div class="col-lg-4 ms-auto text-justify">
        <p class="lead"> I am a full-stack web developer with a focus on the MERN stack. I have over three years of experience in developing and delivering web applications. I have had the opportunity to work for Jakson Education System where I created their website and student portal, which was a great success. In addition to that, I have also completed several small-scale projects for clients both online and in-person. </p>
      </div>
      <div class="col-lg-4 me-auto text-justify">
        <p class="lead"> My strong communication skills, technical aptitude, and continuous learning approach have helped me to grow as a developer. Moreover, I am also an app developer with expertise in React Native, which allows me to deliver both web and mobile applications to my clients. I am always eager to learn new things and take on new challenges in my career. </p>
      </div>
    </div>
  </div>
</section>