<footer class="text-center footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4"> EMAIL </h4>
        <a href="mailto:syed.khizer30@gmail.com" target="_blank" class="email"> syed.khizer30@gmail.com </a>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase"> AROUND THE WEB </h4>
        <ul class="list-inline">
          <li class="list-inline-item d-flex justify-content-center align-items-center">
            <a href="https://github.com/Khizer30" target="_blank" role="button" class="btn btn-outline-light text-center d-flex justify-content-center align-items-center btn-social rounded-circle footerBtn">
              <i class="fa fa-github fa-fw footerIcon"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4"> CONTACT ME </h4>
        <p class="lead mb-0">
          <span> +92-304-5149450 </span>
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="text-center text-white copyright py-4">
  <div class="container">
    <small> By Syed Muhammad Khizer </small>
  </div>
</div>

<div class="d-lg-none scroll-to-top position-fixed rounded">
  <a href="#page-top" class="text-center d-block rounded text-white">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>