<header class="text-center text-white bg-primary masthead">
  <div class="container">
    <img 
      src="/images/profile.webp" 
      alt="Syed Muhammad Khizer"
      title="That's Me"
      loading="eager" 
      draggable="false"
      class="img-fluid d-block mx-auto mb-5 mainImg" 
    />
    <h1> SYED MUHAMMAD KHIZER </h1>
    <hr class="star-light" />
    <h2 class="font-weight-light mb-0"> Full-Stack Web Developer | MERN </h2>
  </div>
</header>