<nav id="mainNav" class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase">
  <div class="container">
    <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded">
      <i class="fa fa-bars"></i>
    </button>
    <div id="navbarResponsive" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a href="#portfolio" class="nav-link py-3 px-0 px-lg-3 rounded"> Portfolio </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a href="#about" class="nav-link py-3 px-0 px-lg-3 rounded"> About </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a href="#skills" class="nav-link py-3 px-0 px-lg-3 rounded"> Skills </a>
        </li>
      </ul>
    </div>
  </div>
</nav>