---
import Modal from "./Modal.astro" ;
---

<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary"> Portfolio </h2>
    <hr class="star-dark mb-5" />
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4">
        <Modal
          name="JES Portal"
          image="jes"
          text="The Jakson Education System Portal is a web application created using the NextJS framework, which is a mega-framework built on top of ReactJS. It utilizes Firebase's Firestore database for storing student information and other relevant data. The main purpose of the JES Portal is to generate custom fee challans for students based on the school fee challan template. This is achieved through the use of the Docxtemplater library, which helps in generating fee challans dynamically and efficiently. In summary, the JES Portal is a comprehensive solution for generating fee challans for students, leveraging the latest web technologies and libraries to deliver a seamless user experience."
          link="https://jesportal.vercel.app"
          websiteType={ true }
          github="https://github.com/Khizer30/Jakson-Education-System"
        />
      </div>

      <div class="col-md-6 col-lg-4">
        <Modal
          name="Tic Tac Toe"
          image="tic_tac_toe"
          text="Tic Tac Toe is a classic game now available on Android, created using the popular React Native framework and Expo. This app offers three different game modes for players to enjoy, including an offline two-player mode, an offline single-player mode against the CPU, and an online multiplayer mode. In the online multiplayer mode, players can create a game room and share the room key with another player to start a game. The app is powered by Firebase's Realtime Database at the backend, which enables real-time data synchronization between players for a seamless online gaming experience. Overall, Tic Tac Toe is a fun and simple app that provides an engaging gaming experience for players of all ages, making use of cutting-edge technologies to deliver a high-quality user experience."
          link="https://drive.google.com/file/d/1k4JRb2iy-MzjF6aodecUeLn00KEhplQa/view?usp=sharing"
          websiteType={ false }
          github="https://github.com/Khizer30/Tic-Tac-Toe"
        />
      </div>

      <div class="col-md-6 col-lg-4">
        <Modal
          name="Tasbih"
          image="tasbih"
          text="Tasbih is a beautifully designed and user-friendly Islamic app that serves as a digital rosary for Muslims around the world. With its easy-to-use interface, it enables you to keep track of your daily 'Dhikr' count conveniently and accurately. The app provides you with a range of dhikr options, including the recitation of 'SubhanAllah', 'Alhamdulillah', 'Allah-u-Akbar', and many more."
          link="https://drive.google.com/file/d/1z7GBf04ZFb7SB9sVgINy9INAPx2VVqM0/view?usp=sharing"
          websiteType={ false }
          github="https://github.com/Khizer30/Tasbih"
        />
      </div>

      <div class="col-md-6 col-lg-4">
        <Modal
          name="Open Drive"
          image="open_drive"
          text="Open Drive is a web-based application created using SvelteKit that provides a simple and convenient cloud storage solution. Users can select a locker room and upload their files, which can then be accessed using the locker number. The focus of Open Drive is on convenience rather than security, making it a suitable option for users who want to access their files quickly without the need to log in. Unlike popular cloud storage solutions such as Google Drive and OneDrive, Open Drive does not require users to log in, making it a safer option for use on public computers. The backend of Open Drive is powered by Firebase's Cloud Storage, which provides reliable and scalable storage for all uploaded files. In conclusion, Open Drive offers a simple and convenient solution for storing and accessing files in the cloud, leveraging the latest web technologies and services to deliver a seamless user experience."
          link="https://opendrive.vercel.app"
          websiteType={ true }
          github="https://github.com/Khizer30/Open-Drive"
        />
      </div>
    </div>
  </div>
</section>