---
import Modal from "./Modal.astro" ;
---

<section id="portfolio" class="portfolio">
  <div class="container">
    <h2 class="text-uppercase text-center text-secondary"> Portfolio </h2>
    <hr class="star-dark mb-5" />
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4">

        <Modal
          name="JES Portal"
          image="jes"
          text="*"
          link="https://jesportal.vercel.app"
          websiteType={ true }
          github="https://github.com/Khizer30/Jakson-Education-System"
        />

      </div>
    </div>
  </div>
</section>