---
import Image from "./Image.astro" ;
---

<section id="skills" class="portfolio">
  <div class="container">
      <h2 class="text-uppercase text-center text-secondary"> SKILLS <br /> </h2>
      <hr class="star-dark mb-5" />

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="html5" 
            name="HTML5" 
            width={ 73 } 
          />

          <Image 
            image="css3" 
            name="CSS3" 
            width={ 73 } 
          />

          <Image 
            image="javascript" 
            name="JavaScript" 
            width={ 83 } 
          />

          <Image 
            image="typescript" 
            name="TypeScript" 
            width={ 83 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="reactjs" 
            name="ReactJS" 
            width={ 87 } 
          />

          <Image 
            image="react_router" 
            name="React Router" 
            width={ 87 } 
          />

          <Image 
            image="redux" 
            name="Redux" 
            width={ 87 } 
          />
        </div>
      </div>

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="svelte" 
            name="Svelte" 
            width={ 67 } 
          />

          <Image 
            image="astro" 
            name="Astro" 
            width={ 60 } 
          />

          <Image 
            image="sveltekit" 
            name="SvelteKit" 
            width={ 95 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="nextjs" 
            name="NextJS" 
            width={ 80 } 
          />

          <Image 
            image="nextauthjs" 
            name="NextAuthJS" 
            width={ 73 } 
          />
        </div>
      </div>

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="figma" 
            name="Figma" 
            width={ 53 } 
          />

          <Image 
            image="bootstrap_5" 
            name="Bootstrap 5" 
            width={ 93 } 
          />

          <Image 
            image="tailwind" 
            name="Tailwind CSS" 
            width={ 93 } 
          />

          <Image 
            image="bootstrap_studio" 
            name="Bootstrap Studio" 
            width={ 75 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="expo" 
            name="Expo" 
            width={ 100 } 
          />

          <Image 
            image="react_native" 
            name="React Native" 
            width={ 95 } 
          />

          <Image 
            image="react_navigation" 
            name="React Navigation" 
            width={ 75 } 
          />
        </div>
      </div>

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="nodejs" 
            name="NodeJS" 
            width={ 110 } 
          />

          <Image 
            image="prisma" 
            name="Prisma" 
            width={ 60 } 
          />

          <Image 
            image="socketio" 
            name="Socket.IO" 
            width={ 73 } 
          />

          <Image 
            image="expressjs" 
            name="ExpressJS" 
            width={ 150 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="postgresql" 
            name="PostgreSQL" 
            width={ 75 } 
          />

          <Image 
            image="mysql" 
            name="MySQL" 
            width={ 150 } 
          />

          <Image 
            image="sqlite" 
            name="SQLite" 
            width={ 85 } 
          />
        </div>
      </div>

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="firebase" 
            name="Firebase" 
            width={ 60 } 
          />

          <Image 
            image="redis" 
            name="Redis" 
            width={ 90 } 
          />

          <Image 
            image="mongodb" 
            name="MongoDB" 
            width={ 60 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="jest" 
            name="Jest" 
            width={ 90 } 
          />

          <Image 
            image="vite" 
            name="Vite" 
            width={ 100 } 
          />

          <Image 
            image="storybook" 
            name="Storybook" 
            width={ 65 } 
          />
        </div>
      </div>

      <div class="row justify-content-evenly align-items-center">
        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="python" 
            name="Python" 
            width={ 80 } 
          />
        </div>

        <div class="col-md-6 col-lg-4 d-flex justify-content-center align-items-center skillsColumn">
          <Image 
            image="fusejs" 
            name="FuesJS" 
            width={ 85 } 
          />

          <Image 
            image="recaptcha" 
            name="ReCAPTCHA" 
            width={ 80 } 
          />

          <Image 
            image="stripe" 
            name="Stripe" 
            width={ 120 } 
          />

          <Image 
            image="emailjs" 
            name="EmailJS" 
            width={ 75 } 
          />
        </div>
      </div>

  </div>
</section>