---
import "@fontsource/lato" ;
import "@fontsource/montserrat" ;
// ...
import "../styles/bootstrap.min.css" ;
import "../styles/global.css" ;
---

<!DOCTYPE html>
<html lang="en-PK">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Syed Muhammad Khizer's Portfolio" />
  <meta name="keywords" content="Syed Muhammad Khizer, Portfolio" />
  <meta name="author" content="Syed Muhammad Khizer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title> Syed Muhammad Khizer </title>

  <link rel="icon" type="image/webp" href="/images/favicon.webp" />
  <link rel="shortcut icon" type="image/webp" href="/images/favicon.webp" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
  <slot />

  <script src="/js/freelancer.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" async></script>
</body>

</html>